types-requests
requests
supabase
asyncpg
asyncpg-stubs
python-dotenv
quart
brotli
cryptography
aiohttp
uvloop
hypercorn
hypercorn[uvloop]
colorama
types-colorama
json5
aiocache
aiocache[redis]
quart-cors
bleach
cython
setuptools
ujson