types-requests
requests
supabase
asyncpg
asyncpg-stubs
python-dotenv
quart
cryptography
aiohttp
uvloop
hypercorn
hypercorn[uvloop]
colorama
types-colorama
json5
atomic
aiocache
aiocache[redis]
quart-cors
bleach